---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		
	</head>
	<body>
		<h1>Astro</h1>
		<h1>anthony desde about</h1>

        <p>no me pondré a crear componentes ahora porque soy una persona honesta y responsable, y tampoco sé cómo hacerlo.</p>
	</body>
</html>