---
import Card from '../pages/components/Card.astro'
import HelloComponent from '../pages/components/HelloComponent'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		
	</head>
	<body>
		<Card title="Card 1" text="Luisana Fiorella Íñiguez Ronquillo"/>
		<Card title="Card 2" text="Anthony Enrique Candelario Mora"/>
		<Card title="Card 3" text="Una niña que se llame Lyah Candelario Íñiguez <3"/>

		<HelloComponent client:load/>

	</body>
</html>
